In [1]:
import numpy as np
import pandas as pd

##### Task 1: Opens attached CSV file

In [2]:
dataset = pd.read_csv('test.csv')
dataset.head()

      imie    nazwisko data_urodzenia
0  Jadwiga     Bilecka     01.01.1978
1    Rafal       Bobek     11.04.1978
2   Robert  Bobekowski     20.07.1978
3    Rafal  Bobikowski     28.10.1978
4    Rafal      Brobek      5.02.1979

In [3]:
#dataset['data_urodzenia']
print(dataset['data_urodzenia'].dtypes)

object

In [4]:
from datetime import datetime,date,timedelta

In [5]:
dataset['data_urodzenia'] = pd.to_datetime(dataset['data_urodzenia']) 
dataset.head()

      imie    nazwisko data_urodzenia
0  Jadwiga     Bilecka     1978-01-01
1    Rafal       Bobek     1978-11-04
2   Robert  Bobekowski     1978-07-20
3    Rafal  Bobikowski     1978-10-28
4    Rafal      Brobek     1979-05-02

In [6]:
dob_dataset = dataset[dataset['data_urodzenia'] > pd.Timestamp(date(1999,12,31))]
dob_dataset

         imie    nazwisko data_urodzenia
81   Krystyna   Polkowiak     2000-06-03
82     Wiktor     Proszak     2000-06-14
83    Andrzej       Robek     2000-09-22
84   Zbigniew       Rudak     2000-12-31
85    Barbara    Sadurski     2001-10-04
86      Marek       Sawek     2001-07-19
87     Robert       Sulik     2001-10-27
88   Zbigniew       Sulik     2002-04-02
89     Robert  Sulikowski     2002-05-15
90     Robert       Surma     2002-08-23
91     Robert      Surmak     2002-01-12
92     Wiktor      Suwald     2003-11-03
93     Michal      Szerka     2003-06-19
94    Tadeusz      Tomora     2003-09-27
95   Zbigniew    Trewirek     2004-05-01
96   Zbigniew  Twardzioch     2004-04-14
97    Andrzej  Twarnowski     2004-07-23
98    Tadeusz    Twomicki     2004-10-31
99     Michal      Wertyk     2005-08-02
100     Rafal       Wobek     2005-05-19
101   Tadeusz       Womor     2005-08-27
102    Robert      Wyszon     2005-05-12
103    Robert       Zamek     2006-03-15
104    Wiktor     Zamlcki     2006-06-23
105   Tadeusz    Zomornik     2006-01-10
106    Edward  Zeligowski     2007-09-01
107  Zbigniew  Zeligowski     2007-04-19

In [7]:
dob_dataset['data_urodzenia'].count()

27

#### so there are 27 people who are born after 1999-12-31

### Task 3: Prints all female names. Female name is the one that ends with "a". The names can't repeat themself.

#### Note: I did not know name ending with "a" for which it has to be considered. First name or Surname. 
#### I have done it for both and also a combination of those 2.

In [8]:
#dataset['imie'][1][0]

'R'

### First considering the first name, column 1

In [9]:
first_names = set()

for i in range(len(dataset)):
    if dataset['imie'][i][-1] == 'a':
        first_names.add(dataset['imie'][i])
        
for i in first_names:
    print(i)

Barbara
Krystyna
Liliana
Katarzyna
Pelagia
Elwira
Ewa
Jolanta
Jadwiga
Kalina

### Now, considering the second name, column 2

In [10]:
last_names = set()

for i in range(len(dataset)):
    if dataset['imie'][i][-1] == 'a':
        last_names.add(dataset['nazwisko'][i])
        
for i in last_names:
    print(i)

Fulecka
Griczan
Fornal
Pilecki
Firlecka
Jagiel
Ciupala
Sadurski
Dawro
Bilecka
Kiszewska
Niemota
Filoecka
Greczyn
Maczynska
Milecka
Policka
Masztaler
Derilecka
Policzawska
Filbrecka
Gruda
Chrilecka
Jelikowska
Polkowiak
Gilecka
Fibiana
Jolecka
Filecka

#### Now, Here, I have the first names ending with a and the results has their last names along with it as well.

In [11]:
full_names = set()

for i in range(len(dataset)):
    if dataset['imie'][i][-1] == 'a':
        full_names.add(dataset['imie'][i] + " "+ dataset['nazwisko'][i])
        
for i in full_names:
    print(i)

Jadwiga Chrilecka
Jadwiga Firlecka
Barbara Jagiel
Jadwiga Jolecka
Jadwiga Gilecka
Barbara Kiszewska
Katarzyna Dawro
Ewa Masztaler
Jolanta Filecka
Barbara Gruda
Barbara Fibiana
Jadwiga Milecka
Barbara Griczan
Liliana Ciupala
Ewa Niemota
Krystyna Polkowiak
Barbara Sadurski
Jadwiga Fulecka
Elwira Policzawska
Barbara Jelikowska
Kalina Filecka
Jadwiga Derilecka
Barbara Maczynska
Jadwiga Filoecka
Pelagia Greczyn
Barbara Fornal
Krystyna Policka
Krystyna Pilecki
Jadwiga Bilecka
Jadwiga Filbrecka

### I have done all the cases, I did not know which column to consider. Please consider whichever case suits the best.